sudo: required
dist: xenial

language: cpp

compiler:
- gcc
- clang

arch:
  - amd64
  - ppc64le

before_script:
- |
    git clone --depth=50 --branch=master https://github.com/icecc/icecream.git icecream
    pushd icecream
    autoreconf -fiv
    ./configure --prefix=$(pwd)
    make install -C services -s -j $(getconf _NPROCESSORS_ONLN)
    popd

- cmake --version
- qtchooser -run-tool=qmake -qt=qt5 --version

- mkdir build
- cd build
- PKG_CONFIG_PATH=../icecream/lib/pkgconfig cmake .. -DCMAKE_INSTALL_PREFIX=$(pwd)/_inst

script:
- make
- make install

addons:
  apt:
    packages:
    - cmake
    - qtbase5-dev
    - extra-cmake-modules
    - asciidoc
    - xsltproc # for asciidoc
    # for icecream
    - libcap-ng-dev
    - liblzo2-dev
    - libzstd1-dev
    - libarchive-dev
