[Desktop Entry]
Encoding=UTF-8
GenericName=Icecream Monitor
GenericName[da]=Icecream overvåger
GenericName[es]=Monitor de helado
GenericName[ga]=Monatóir Icecream
GenericName[pt]=Monitor de Icecream
GenericName[pt_BR]=Monitor de Icecream
GenericName[sv]=Icecream-övervakare
GenericName[xx]=xxIcecream Monitorxx
Name=Icemon
Name[xx]=xxIcemonxx
Comment=A monitor for an Icecream compilation network
Comment[pt]=Um monitor para a rede de compilação Icecream
Comment[pt_BR]=Um monitor para a rede de compilação Icecream
Comment[sv]=Övervakning av ett Icecream-kompileringsnätverk
Comment[xx]=xxA monitor for an Icecream compilation networkxx
Exec=icemon
DocPath=icemon/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Development;
