<!DOCTYPE kpartgui>
<kpartgui name="distccmon-kde" version="2">
<MenuBar>
    <Menu name="view"><text>&amp;View</text>
        <Menu name="view_mode"><text>&amp;Mode</text>
            <Action name="view_list_view"/>
            <Action name="view_star_view"/>
            <Action name="view_foo_view"/>
            <Action name="view_gantt_view"/>
        </Menu>
        <Action name="view_start"/>
        <Action name="view_stop"/>
        <Separator/>
        <Action name="check_nodes"/>
        <Separator/>
        <Action name="configure_view"/>
    </Menu>
</MenuBar>
</kpartgui>
