[Desktop Entry]
Encoding=UTF-8
Name=Icecream Monitor
Name[ga]=Monatóir Icecream
Name[pt]=Monitor de Icecream
Name[pt_BR]=Monitor de Icecream
Name[sv]=Icecream-övervakare
Comment=Monitor for an Icecream compilation network
X-KDE-Library=icemon_panelapplet
X-KDE-UniqueApplet=false
