[Desktop Entry]
Encoding=UTF-8
GenericName=Icecream Monitor
GenericName[ga]=Monatóir Icecream
GenericName[pt]=Monitor de Icecream
GenericName[pt_BR]=Monitor de Icecream
GenericName[sv]=Icecream-övervakare
Name=Icemon
Name[xx]=xxIcemonxx
Comment=A monitor for an Icecream compilation network
Comment[bg]=Аплет за монитор на Icecream
Comment[da]=Icecream overvågnings-applet
Comment[es]=Un applet monitor de helado
Comment[et]=Icecreami monitori aplett
Comment[fr]=Applet de surveillance d'Icecream
Comment[nl]=Icecream-monitor-applet
Comment[pt]='Applet' de monitorização do Icecream
Comment[pt_BR]=Um mini-aplicativo de painel para o icecream
Comment[sr]=Аплет Icecream монитора
Comment[sr@Latn]=Aplet Icecream monitora
Comment[sv]=Miniprogram för övervakning av Icecream
Comment[ta]=செயலிக் கண்காணிச் செருகல்.
Comment[tr]=ISDN-izleyici programcığı
Comment[xx]=xxIcecream-monitor appletxx
Exec=icemon
DocPath=icemon/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Development;
