[Desktop Entry]
Encoding=UTF-8
GenericName=Icecream Monitor
GenericName[ga]=Monatóir Icecream
GenericName[pt]=Monitor de Icecream
GenericName[pt_BR]=Monitor de Icecream
GenericName[sv]=Icecream-övervakare
Name=Icemon
Name[xx]=xxIcemonxx
Comment=A monitor for an Icecream compilation network
Exec=icemon
DocPath=icemon/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Development;
