[Desktop Entry]
Encoding=UTF-8
Name=Icecream Monitor
Name[da]=Icecream overvåger
Name[es]=Monitor de Icecream
Name[fr]=Surveillant Icecream
Name[ga]=Monatóir Icecream
Name[pt]=Monitor de Icecream
Name[pt_BR]=Monitor de Icecream
Name[sv]=Icecream-övervakare
Name[xx]=xxIcecream Monitorxx
Comment=Monitor for an Icecream compilation network
Comment[es]=Monitor para una red de compilación Icecream
Comment[fr]=Surveillance d'un réseau de compilation Icecream
Comment[pt]=Monitor para a rede de compilação Icecream
Comment[pt_BR]=Monitor para a rede de compilação Icecream
Comment[sv]=Övervakning av Icecream-kompileringsnätverk
Comment[xx]=xxMonitor for an Icecream compilation networkxx
X-KDE-Library=icemon_panelapplet
X-KDE-UniqueApplet=false
