Source: icemon-kde3
Section: kde
Priority: optional
Maintainer: Andre Woebbeking <Woebbeking@web.de>
Uploaders:
Build-Depends: automake1.9, debhelper (>> 5.0.0), kdelibs4-dev (>= 4:3.5.0)
Standards-Version: 3.7.2

Package: icecc-monitor
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Suggests: icecc
Description: KDE monitor for icecc a distributed client and server
 icecc is a program to distribute compilation of C or C++ code across
 several machines on a network. icecc should always generate the same
 results as a local compile, is simple to install and use, and is often
 significantly faster than a local compile.  icecc does not require all
 machines to share a filesystem, have synchronized clocks, or to have
 the same libraries or header files installed.
 .
 This package provides a GUI montior so you can see what is happening on
 your icecream compile cluster.
 .
 Homepage: http://wiki.kde.org/icecream
