[Desktop Entry]
GenericName=Icecream Monitor
GenericName[el]=Επόπτης Icecream
GenericName[es]=Monitor Icecream
GenericName[et]=Icecreami jälgija
GenericName[fr]=Moniteur Icecream
GenericName[ga]=Monatóir Icecream
GenericName[gl]=Vixiante Icecream
GenericName[nds]=Icecream-Kieker
GenericName[pt]=Monitor Icecream
GenericName[pt_BR]=Monitor Icecream
GenericName[ro]=Monitor Icecream
GenericName[sv]=Övervakare av Icecream
GenericName[tr]=Icecream İzleyici
GenericName[uk]=Монітор Icecream
GenericName[x-test]=xxIcecream Monitorxx
Name=Icemon
Name[x-test]=xxIcemonxx
Comment=A monitor for an Icecream compilation network
Comment[el]=Ένας επόπτης ενός μιας σύνθεσης δικτύου Icecream
Comment[es]=Un monitor para una red de compilación Icecream
Comment[et]=Icecreami kompileerimisvõrgu jälgija
Comment[fr]=Un moniteur pour une compilation réseau Icecream
Comment[ga]=Monatóir do líonra tiomsaithe Icecream
Comment[gl]=Un vixilante para unha compilacion de rede Icecream
Comment[nds]=En Kieker för en Icecream-Kompileernettwark
Comment[pt]=Um monitor para uma rede de compilação Icecream
Comment[pt_BR]=Um monitor para uma rede de compilação Icecream
Comment[sv]=En övervakare av ett Icecream-kompileringsnätverk
Comment[tr]=Icecream derleme ağı için bir izleyici
Comment[uk]=Монітор мережі компіляції Icecream
Comment[x-test]=xxA monitor for an Icecream compilation networkxx
Exec=icemon
X-DocPath=icemon/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Development;
Icon=icemon
