[Desktop Entry]
GenericName=Icecream Monitor
GenericName[ca]=Monitor Icecream
GenericName[ca@valencia]=Monitor Icecream
GenericName[el]=Επόπτης Icecream
GenericName[en_GB]=Icecream Monitor
GenericName[es]=Monitor Icecream
GenericName[et]=Icecreami jälgija
GenericName[fr]=Moniteur Icecream
GenericName[ga]=Monatóir Icecream
GenericName[gl]=Vixilante Icecream
GenericName[hne]=आइसक्रीम मानीटर
GenericName[hu]=Icecream figyelő
GenericName[it]=Monitor Icecream
GenericName[ja]=Icecream モニタ
GenericName[ms]=Monitor Icecream
GenericName[nds]=Icecream-Kieker
GenericName[nl]=Icecream-monitor
GenericName[pa]=ਆਈਸਕਰੀਮ ਮਾਨੀਟਰ
GenericName[pl]=Monitor Icecream
GenericName[pt]=Monitor Icecream
GenericName[pt_BR]=Monitor Icecream
GenericName[ro]=Monitor Icecream
GenericName[sv]=Övervakare av Icecream
GenericName[tr]=Icecream İzleyici
GenericName[uk]=Монітор Icecream
GenericName[x-test]=xxIcecream Monitorxx
GenericName[zh_TW]=Icecream 監視器
Name=Icemon
Name[ca]=Icemon
Name[ca@valencia]=Icemon
Name[cs]=Icemon
Name[de]=Icemon
Name[el]=Icemon
Name[en_GB]=Icemon
Name[eo]=Icemon
Name[es]=Icemon
Name[et]=Icemon
Name[fr]=Icemon
Name[ga]=Icemon
Name[gl]=Icemon
Name[hne]=आइसमान
Name[hu]=Icemon
Name[it]=Icemon
Name[ja]=Icemon
Name[ms]=Icemon
Name[nds]=Icemon
Name[nl]=Icemon
Name[pa]=ਆਈਸਮੋਨ
Name[pl]=Icemon
Name[pt]=Icemon
Name[pt_BR]=Icemon
Name[ro]=Icemon
Name[sk]=Icemon
Name[sv]=Icemon
Name[tr]=Icemon
Name[ug]=Icemon
Name[uk]=Icemon
Name[x-test]=xxIcemonxx
Name[zh_TW]=Icemon
Comment=A monitor for an Icecream compilation network
Comment[ca]=Un monitor per a una xarxa de compilació Icecream
Comment[ca@valencia]=Un monitor per a una xarxa de compilació Icecream
Comment[el]=Ένας επόπτης ενός μιας σύνθεσης δικτύου Icecream
Comment[en_GB]=A monitor for an Icecream compilation network
Comment[es]=Un monitor para una red de compilación Icecream
Comment[et]=Icecreami kompileerimisvõrgu jälgija
Comment[fr]=Un moniteur pour une compilation réseau de Icecream
Comment[ga]=Monatóir do líonra tiomsaithe Icecream
Comment[gl]=Un vixilante para unha compilación de rede Icecream
Comment[hne]=आईसक्रीम कम्पायलर नेटवर्क बर एक मानीटर
Comment[it]=Monitor per una rete di compilazione Icecream
Comment[ms]=Peninjau jaringan kompilasi Icecream
Comment[nds]=En Kieker för en Icecream-Kompileernettwark
Comment[nl]=Een monitor voor een Icecream Compilatienetwerk
Comment[pl]=Monitor dla sieci kompilacji Icecream
Comment[pt]=Um monitor para uma rede de compilação Icecream
Comment[pt_BR]=Um monitor para uma rede de compilação Icecream
Comment[sv]=En övervakare av ett Icecream-kompileringsnätverk
Comment[tr]=Icecream derleme ağı için bir izleyici
Comment[ug]=Icecream تارقاق يۇغۇرۇش تورىنى كۆزەتكۈچ
Comment[uk]=Монітор мережі компіляції Icecream
Comment[x-test]=xxA monitor for an Icecream compilation networkxx
Exec=icemon
X-DocPath=icemon/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Development;
Icon=icemon
