<!DOCTYPE kpartgui>
<kpartgui name="distccmon-kde" version="4">
<MenuBar>
    <Menu name="view"><text>&amp;View</text>
        <Action name="view_mode"/>
        <Action name="view_start"/>
        <Action name="view_stop"/>
        <Separator/>
        <Action name="check_nodes"/>
        <Separator/>
        <Action name="configure_view"/>
    </Menu>
</MenuBar>
</kpartgui>
